@import url(style-mobile.css);

@media only screen and (min-width: 1100px) {
    h1 { margin: 0; padding: 0; font-size: 48px; line-height: 48px; }
    h2 { margin: 0; padding: 0; font-size: 36px; line-height: 36px; }
    h3 { margin: 0; padding: 0; font-size: 32px; line-height: 32px; }
    h4 { margin: 0; padding: 0; font-size: 20px; line-height: 20px; }
    p { margin: 0; padding: 0; font-size: 16px; line-height: 20px;}
    .occupation { margin: 0; padding: 0; font-size: 12px; line-height: 12.5px; }

    .mobile-fluid-container {
        display: none;
    }
    .desktop-fluid-container {
        position: fixed;
        display: flex;
        justify-content: center;
        width:100%;
        height: 80px;
        background-color: var(--dark-color);
        z-index: 1;
    }

    .content-container {
        max-width: 1065px;
    }
    .content-container img {
        border-radius: 20px;
    }

    .btn {
        display: inline-flex;
        padding: 7px 20px;
    }

    .logo img {
        width: 250px;
        height: 51px;
    }

    .desktop-nav {
        background-color: var(--dark-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width:100%;
        gap: 48px;
        max-width: 1065px;
    }
    .desktop-nav .scroll-buttons {
        display: flex;
        justify-content: space-around;
        gap: 31px;
        margin: 0; padding: 0;
    }
    .desktop-nav .scroll-buttons > a  {
        text-decoration: none;
        list-style: none;
        color: var(--light-color);
    }
    .desktop-nav .action-buttons {
        display: flex;
        justify-content: space-between;
        gap: 13px;
    }

    .cta {
        flex-direction: row;
        gap: 31px;
    }

    .hero #desktop {
        display: inline-block;
    }

    .hero {
        margin-top: 80px; /*+80px rekompensacja pozycji fixed navbara, bo jest fixed*/
        width:100%;
    }

    .hero .catchphrase {
        width: 553px;
    }
    .hero .catchphrase div p {
        width: 400px;
    }

    .cta-card {
        flex-direction: row;
    }
    .cta-card img {
        height: 525px;
        width: 525px;
    }
    /*left - domyslnie*/
    .cta-card.right {
        flex-direction: row-reverse;
    }
    .cta-card .benefit-content {
        gap: 42px;
    }
    .cta-card .benefit-content h3 {
        width: 345px;
    }
    .cta-card .benefit-points {
        gap: 31px;
    }
    .cta-card .benefit-point {
        gap: 23px;
    }
    .benefit-point-content {
        gap: 23px;
    }

    .opinion {
        height: 341px;
        gap: 23px;
    }
    .carousel {
        height: 383px;
        gap: 42px;
    }
    .subscription-container {
        flex-direction: row;
        align-items: flex-end;
        height: 476px;
    }

    .subscription-plan.offset {
        align-self: flex-start;
    }

    .subscription-plan {
        width: 305px;
        height: 436px;
        gap: 20px; 
    }

    .subscription-plan img {
        border-radius: 0;
    }

    .subscription-plan .plan-summary {
        gap: 23px;
    }
    .subscription-plan .plan-introduction {
        gap: 23px;
    }
    .subscription-plan .plan-introduction .icon {
        width: 50px;
        height: 50px;
    }

    .subscription-plan .plan-introduction .icon-holder{
        min-width: 80px;
        height: 80px;
    }

    .have-havenots {
        gap:23px;
    }

    .have-havenots .icon {
        width: 30px;
        height: 30px;
    }

    .have-havenots .benefit {
        gap: 15px;
    }

    .footer {
        gap:42px;
    }
    .content-container.gap42 {
        gap:42px;
        margin-bottom: 100px;
    }
    .footer .info-content {
        flex-direction: row;
        gap: 42px;
    }

    .footer .info-content .cell {
        width: 325px;
        gap: 31px;
    }

    .footer .info-content .cell .text {
        gap: 23px;
    }

    .contactlink img {
        width: 30px;
        height: 30px;
        border-radius: 0;
    }

    .copyright {
        justify-content: space-between;
    }
    .copyright #desktop {
        display: flex;
    }

    h1 { font-family: 'Dubai-Bold'; margin: 0; padding: 0; font-size: 48px; line-height: 48px; }
    h2 { font-family: 'Dubai-Bold'; margin: 0; padding: 0; font-size: 36px; line-height: 36px; }
    h3 { font-family: 'Dubai-Bold'; margin: 0; padding: 0; font-size: 32px; line-height: 32px; }
    h4 { font-family: 'Dubai-Bold'; margin: 0; padding: 0; font-size: 20px; line-height: 20px; }
    p { font-family: 'Dubai-Regular'; margin: 0; padding: 0; font-size: 16px; line-height: 20px;}
    .occupation { font-family: 'Dubai-Regular'; margin: 0; padding: 0; font-size: 12px; line-height: 12.5px; }
}
