/* colors */
 
* {box-sizing: border-box;}
:root{
    --light-color: #EAEAEA;
    --dark-color: #1A1A1A;
    --accent-color:#1B70C1;
}

html {scroll-behavior: smooth;}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100% !important;
    height: 100%;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background-color: var(--light-color);
    font-size: 16px;
    line-height: 20px;
}

h1 { margin: 0; padding: 0; font-size: 48px; line-height: 48px; }
h2 { margin: 0; padding: 0; font-size: 36px; line-height: 36px; }
h3 { margin: 0; padding: 0; font-size: 32px; line-height: 32px; }
h4 { margin: 0; padding: 0; font-size: 20px; line-height: 20px; }
p { margin: 0; padding: 0; font-size: 16px; line-height: 20px;}
.occupation { margin: 0; padding: 0; font-size: 12px; line-height: 12.5px; }

.dark-bkg {
    color: var(--light-color);
    background-color: var(--dark-color);
}
.white-bkg {
    color: var(--dark-color);
    background-color: var(--light-color);
}

.dark-bkg .icon {
    filter: invert(99%) sepia(0%) saturate(1028%) hue-rotate(48deg) brightness(114%) contrast(84%); /*#EAEAEA https://codepen.io/sosuke/pen/Pjoqqp*/
}
.white-bkg .icon {
    filter: invert(0%) sepia(4%) saturate(2273%) hue-rotate(326deg) brightness(82%) contrast(80%); /*#1A1A1A*/
}

.icon.dark {
    filter: invert(0%) sepia(4%) saturate(2273%) hue-rotate(326deg) brightness(82%) contrast(80%);
}
.icon.light {
    filter: invert(99%) sepia(0%) saturate(1028%) hue-rotate(48deg) brightness(114%) contrast(84%);
}

.icon.accent {
    filter: invert(26%) sepia(84%) saturate(1230%) hue-rotate(186deg) brightness(112%) contrast(88%);
}

/* .white-text {
    color: var(--light-color);
}
.black-text {
    color: var(--dark-color);
}
.accent-text {
    color: var(--accent-color);
} */

/* system fonts */


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fluid-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width:100%;
    height: 80px;
    background-color: var(--dark-color);
    z-index: 1;
}

.content-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display:flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    max-width: 1065px;
    /* w ktoryms momencie prawdopodobnie moze sie wyłożyć, ale raczej hierarchie marginesów mam wszędzie zachowaną*/
    gap: 75px;
}
.content-container img {
    border-radius: 20px;
}

.btn {
    display: inline-flex;
    padding: 7px 20px;
    color: var(--dark-color);
    background-color: var(--light-color);
    border: solid 3px var(--accent-color);
    border-radius: 20px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    transition-property: background-color, color;
    width: fit-content;
}
.btn.black {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: solid 3px var(--accent-color);
    transition: all 200ms ease-in-out;
    transition-property: background-color, color;
}

.logo img {
    width: 250px;
    height: 51px;
}

.desktop-nav {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width:100%;
    gap: 48px;
    max-width: 1065px;
}
.desktop-nav .scroll-buttons {
    display: flex;
    justify-content: space-around;
    gap: 31px;
    margin: 0; padding: 0;
}
.desktop-nav .scroll-buttons > a  {
    text-decoration: none;
    list-style: none;
    color: var(--light-color);
}
.desktop-nav .action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.cta {
    display: flex;
    justify-content: space-between;
    gap: 31px;
}

.hero {
    display: flex;
    margin-top: 80px; /*+80px rekompensacja pozycji fixed navbara, bo jest fixed*/
    width:100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    color: var(--light-color)
}

.hero .catchphrase {
    display: flex;
    width: 553px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}
.hero .catchphrase div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:31px;
}
.hero .catchphrase div p {
    width: 400px;
}

.whybother {
    display: flex;
    justify-content: center;
}

.cta-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 75px;
}

.cta-card img {
    height: 525px;
    width: 525px;
}

/*left - domyslnie*/
.cta-card.right {
    flex-direction: row-reverse;
}

.cta-card .benefit-content {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.cta-card .benefit-content h3 {
    width: 345px;
}
.cta-card .benefit-content div img {
    height: 33px;
    width: 33px;
}

.cta-card .benefit-points {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.cta-card .benefit-point {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}

.cta-card .benefit-content .benefit-point img {
    border-radius: 0;
}
.benefit-point-content {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.opinions {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.opinion {
    color: var(--dark-color);
    display: inline-flex;
    height: 341px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    flex-shrink: 0; 
    background-color: var(--light-color);
    border-radius: 20px;
}
.content-container.exception {
    margin-bottom: 75px;
}
.opinion .contents {
    display: flex;
    max-width: 100%;
}
.opinion .contents p {
    margin-left: 23px;
    margin-right: 23px;
}
.client-introduction {
    display: flex;
    width: 305px;
    align-items: center;
    gap: 13px;
}
.client-introduction img.pfp {
    border-radius: 35px;
    border: 2px solid var(--dark-color);
    width: 63px;
    height: 63px;
}
.opinion .icon {
    border-radius: unset;
    filter: invert(26%) sepia(84%) saturate(1230%) hue-rotate(186deg) brightness(112%) contrast(88%); /*#1B70C1*/
    width: 23px;
    height: 17px;
}
.opinion .icon.up {
    transform: rotate(180deg);
}
.opinion .icon.down {
    align-self: flex-end;
}
.carousel {
    scrollbar-width: none;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    height: 383px;
    width:100%;
    gap: 42px;
    position: relative;
    overflow-x: scroll;
    margin-bottom: 100px;
}
.carousel .item {
    display: inline-block;
}
.carousel .item:nth-child(odd) {
    align-self: flex-end;
}
.carousel::-webkit-scrollbar{
    display:none;
}

.plans {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.subscription-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 476px;
    gap: 75px;
}

.subscription-plan.offset {
    align-self: flex-start;
}

.subscription-plan {
    padding: 20px;
    width: 305px;
    height: 436px;
    border-radius: 20px;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    gap: 20px; /*dziwne figma ma te gapy, w przegladarce inne a w figmie inne*/
    flex-shrink: 0;
}

.subscription-plan img {
    border-radius: 0;
}

.subscription-plan .plan-summary {
    display: flex;
    width: 265px;
    flex-direction: column;
    gap: 23px;
}
.subscription-plan .plan-introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}
.subscription-plan .plan-introduction .icon {
    width: 50px;
    height: 50px;
}

.subscription-plan .plan-introduction .icon-holder{
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
}

.icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.have-havenots {
    display: flex;
    flex-direction: column;
    gap:23px;
}

.have-havenots .icon {
    width: 30px;
    height: 30px;
}

.have-havenots .benefit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


.footer {
    display: flex;
    justify-content: center;
    gap:42px;
}
.content-container.gap42 {
    gap:42px;
}
.footer .info-content {
    display: flex;
    gap: 42px;
}

.footer .info-content .cell {
    display: flex;
    flex-direction: column;
    width: 325px;
    gap: 31px;
}

.footer .info-content .cell .text {
    display: grid;
    gap: 23px;
    
}
.footer .info-content .cell .text > a{
    text-decoration: none;
    list-style: none;
    color: var(--light-color);
}

.contactlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.contactlink img {
    width: 30px;
    height: 30px;
    border-radius: 0;
}
.footer .info-content .cell .text div {
    display: flex;
    gap: 23px;
}

hr {
    width: 100%;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}
.btn.black:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
}
mark.accent {
    color: var(--accent-color);
    background: none;
}

/* web fonts */
/* to na koniec */
@font-face {
    font-family: 'Dubai-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Dubai-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Dubai-Bold';
    font-style: bold;
    font-weight: 600;
    src: url(../fonts/Dubai-Bold.woff) format('woff');
}
body {
    font-family: 'Dubai-Regular';
}

h1 { font-family: 'Dubai-Bold'; margin: 0; padding: 0; font-size: 48px; line-height: 48px; }
h2 { font-family: 'Dubai-Bold'; margin: 0; padding: 0; font-size: 36px; line-height: 36px; }
h3 { font-family: 'Dubai-Bold'; margin: 0; padding: 0; font-size: 32px; line-height: 32px; }
h4 { font-family: 'Dubai-Bold'; margin: 0; padding: 0; font-size: 20px; line-height: 20px; }
p { font-family: 'Dubai-Regular'; margin: 0; padding: 0; font-size: 16px; line-height: 20px;}
.occupation { font-family: 'Dubai-Regular'; margin: 0; padding: 0; font-size: 12px; line-height: 12.5px; }
