/* colors */
:root{
    --light-color: #EAEAEA;
    --dark-color: #1A1A1A;
    --accent-color:#1B70C1;
}

.dark-bkg {
    color: var(--light-color);
}
.white-bkg {
    color: var(--dark-color);
}

.dark-bkg .icon {
    filter: invert(99%) sepia(0%) saturate(1028%) hue-rotate(48deg) brightness(114%) contrast(84%); /*#EAEAEA https://codepen.io/sosuke/pen/Pjoqqp*/
}
.white-bkg .icon {
    filter: invert(0%) sepia(4%) saturate(2273%) hue-rotate(326deg) brightness(82%) contrast(80%); /*#1A1A1A*/
}

/* .white-text {
    color: var(--light-color);
}
.black-text {
    color: var(--dark-color);
}
.accent-text {
    color: var(--accent-color);
} */

/* system fonts */
html, body {
    padding: 0;
    margin: 0;
    min-height: 100% !important;
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
    font-size: 16px;
    line-height: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-color);
}

.fluid-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width:100%;
    height: 80px;
    background-color: var(--dark-color);
}

.content-container {
    display:flex;
    flex-direction: column;
    justify-content: left;
    /* background-color: var(--dark-color); */
    width: 100%;
    max-width: 1065px;
    /* w ktoryms momencie prawdopodobnie moze sie wyłożyć, ale raczej hierarchie marginesów mam wszędzie zachowaną*/
    gap: 75px;
}
.content-container img {
    border-radius: 20px;
}

.btn {
    display: inline-flex;
    padding: 7px 20px;
    color: var(--dark-color);
    background-color: var(--light-color);
    border: solid 3px var(--accent-color);
    border-radius: 20px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    transition-property: background-color, color;
    width: fit-content;
}
.btn.black {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: solid 3px var(--accent-color);
    transition: all 200ms ease-in-out;
    transition-property: background-color, color;
}

.desktop-nav {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width:100%;
    gap: 48px;
    max-width: 1065px;
}
.desktop-nav .logo>img {
    width: 250px;
    height: 51px;
}
.desktop-nav .scroll-buttons {
    display: flex;
    justify-content: space-around;
    gap: 31px;
    margin: 0; padding: 0;
}
.desktop-nav .scroll-buttons > a  {
    text-decoration: none;
    list-style: none;
    color: var(--light-color);
}
.desktop-nav .action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.cta {
    display: flex;
    justify-content: space-between;
    gap: 31px;
}

.hero {
    display: flex;
    margin-top: 180px; /*+80px rekompensacja pozycji fixed navbara, bo jest fixed*/
    margin-bottom: 100px;
    width:100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    color: var(--light-color)
}

.hero .catchphrase {
    display: flex;
    width: 553px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}
.hero .catchphrase div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:31px;
}
.hero .catchphrase div p {
    width: 400px;
}

.whybother {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.cta-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 75px;
}

.cta-card img {
    height: 525px;
    width: 525px;
}

/*left - domyslnie*/
.cta-card.right {
    flex-direction: row-reverse;
}

.cta-card .benefit-content {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.cta-card .benefit-content h3 {
    width: 345px;
}
.cta-card .benefit-content div img {
    height: 33px;
    width: 33px;
}

.cta-card .benefit-points {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.cta-card .benefit-point {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}

.cta-card .benefit-content .benefit-point img {
    border-radius: 0;
}
.benefit-point-content {
    display: flex;
    flex-direction: column;
    gap: 23px;
}


.btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}
.btn.black:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
}
mark.accent {
    color: var(--accent-color);
    background: none;
}

/* web fonts */
/* to na koniec */
@font-face {
    font-family: 'Dubai Regular';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Dubai-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Dubai Bold';
    font-style: bold;
    font-weight: 400;
    src: url(../fonts/Dubai-Bold.woff2) format('woff2');
}
body {
    font-family: "Dubai";
}

h1 { margin: 0; padding: 0; font-size: 48px; line-height: 48px; }
h2 { margin: 0; padding: 0; font-size: 36px; line-height: 36px; }
h3 { margin: 0; padding: 0; font-size: 32px; line-height: 32px; }
h4 { margin: 0; padding: 0; font-size: 20px; line-height: 20px; }
p { margin: 0; padding: 0}
